@CHARSET "UTF-8";

.add-address{
	/* display:inline-block; */
	border:1px solid #efefef;
	height: 450px;
	width: 800px;
	margin: auto;
	/* margin-top: 300px; */
}

.add-address-header{
	padding-bottom:5px;
	border-bottom: 1px solid #efefef;
	/* background-color: red; */
}

.add-address-header-title{
	text-align:center;
	font-size: 20px;
	font-weight: bolder;
	
}

.add-address-content{
	/* display:inline-block; */
	margin-top:15px;
	padding-left:45px;
	float: left;
}

.add-address-edit{
	margin-left: 10px;
	margin-bottom:20px;
	float: left;
}

.add-address-content input{
	width: 200px;
	height: 35px;
	padding-left: 15px;
	margin-right: 30px;
}

.add-address-non-empty{
	display:inline-block;
	color: #00c3f5;
}

.link-city{
	height: 35px;
	width: 125px;
	margin-right: 25px;
}

.add-address-edit.last input{
	width: 580px;
	margin-left: 10px;
}

.add-address-footer{
	text-align: center;
}

.add-address-footer-btn{
	background-color: #00c3f5;
	border: none;
	border-radius: 5px;
	width: 100px;
	height: 35px;
	color: #fff;
	font-size: 15px;
	margin: 35px 15px;
	
}

.add-address-footer-btn:HOVER{
	opacity:0.8;
}

.add-address-footer-btn.cancle{
	background-color: #C9C9C9;
}